.App {
  text-align: center;
}
.display-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 33vh;
  padding-right: 33vh;
  color: rgb(89, 88, 88);
}

.display-time code {
  font-size: 18px;
  color: rgb(249, 112, 0);
}
.user-inputs {
  margin-top: 30px;
}
